<div class="card">
  {{#each posts}}
    <div class="card-body">
        <a class="" href="/dashboard/edit/{{id}}">
            <span>{{title}}</span>
            <span>{{date created}}</span>
        </a>
    </div>
  {{/each}}
</div>