<div class="card">
    <form id="edit-post-form" class="card-body">
        <label for="basic-url" class="form-label">Title</label>
        <div class="input-group mb-3">
            <input type="text" name="post-title" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{post.title}}">
        </div>

        <label for="basic-url" class="form-label">Content</label>
        <div class="input-group">
            <textarea class="form-control" name="post-body" aria-label="With textarea">{{post.body}}</textarea>
        </div>
        <button type="submit" class="btn">Update</button>
        <button type="button" id="delete-btn" class="btn">Delete</button>
    </form>
</div>