<div class="card">
    <form class="card-body" id="form-new-post">
        <label for="title-post" class="form-label">Title</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="title-post" aria-describedby="basic-addon3">
        </div>

        <label for="content-post" class="form-label">Content</label>
        <div class="input-group">
            <textarea class="form-control" id="content-post" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</div>